/* Global Styles */
.label{
    
}

.menu-screen {
    -fx-background-image: url('../images/main-screen-background.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
